{% form_theme formconsultant 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}admin:trt{% endblock %}

{% block wrapper %}

<div class="container-fluid admin">
    <h1>Bienvenue dans votre espace: Administrateur</h1>

    <div class="container admin">
        <div>
            <h2 class="">Ajouter un consultant</h2>
            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ form_start(formconsultant) }}
                    {{ form_row(formconsultant.email,{'attr': {'class': 'form-control'}}) }}
                    {{ form_row(formconsultant.plainPassword, {
                    label: 'mot de passe'},{'attr': {'class': 'form-control'}}) }}

                    <div> <button type="submit" class="btn btn-primary">Ajouter</button></div>

                    {{ form_end(formconsultant) }}
                </div>
            </div>

            <h2 class="">liste des consultants</h2>

            <table>
                <thead>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td><strong>Action</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {% for consultant in liste %}
                    <tr>
                        <td>{{consultant.Email}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}