{% extends 'base.html.twig' %}

{% block title %}Consultant:trt{% endblock %}

{% block wrapper %}


<div class="container-fluid">
    <h1>bienvenue consultant</h1>
    <div class="row">
        <div class="col-12 col-lg-6 liste candidat">
            <h2 class="bg">Liste des candidats</h2>
            <table>
                <thead>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td><strong>Nom</strong></td>
                        <td><strong>Prenom</strong></td>
                        <td><strong>CV</strong></td>
                        <td>voir</td>
                        <td><strong>validation</strong></td>

                    </tr>
                </thead>
                <tbody id="idcandidatnovalid">
                    {% for candidat in candidats %}
                    {% if candidat[1].valider == 0 %}

                    <tr class="novalid   {% if  loop.index % 2 == 0  %} paire {% else %} impaire {% endif %}">
                        <td>{{candidat[1].Email}}</td>
                        <td>{{candidat[0].nom}}</td>
                        <td>{{candidat[0].prenom}}</td>
                        <td>{{candidat[0].cv~'.pdf'}}</td>
                        <td>voir</td>
                        <td><button class="btn btn-primary">Valider</button></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tbody id="idcandidatvalid">
                    <tr>
                        <td>Candidats validés</td>
                    </tr>
                    {% for candidat in candidats %}
                    {% if candidat[1].valider == 1 %}
                    <tr class="valid">
                        <td>{{candidat[1].Email}}</td>
                        <td>{{candidat[0].nom}}</td>
                        <td>{{candidat[0].prenom}}</td>
                        <td>{{candidat[0].cv~'.pdf'}}</td>
                        <td>voir</td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="col-12 col-lg-6 liste recruteur">
            <h2 class="bg">Liste des Recruteurs</h2>
            <table>
                <thead>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td><strong>Nom</strong></td>
                        <td><strong>Etablissement</strong></td>
                        <td><strong>Ville</strong></td>
                        <td><strong>validation</strong></td>



                    </tr>
                </thead>
                <tbody id="idrecruteur">
                    {% for recruteur in recruteurs %}
                    {% if recruteur [1].valider == 0 %}
                    <tr class="novalid  {% if  loop.index % 2 == 0  %} paire {% else %} impaire {% endif %}">
                        <td>{{recruteur[1].Email}}</td>
                        <td>{{recruteur [0].nom}}</td>
                        <td>{{recruteur [0].etablissement}}</td>
                        <td>{{recruteur [0].ville}}</td>
                        <td><button class="btn btn-primary">Valider</button></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% for recruteur in recruteurs %}
                    {% if recruteur [1].valider == 1 %}
                    <tr class="valid  {% if  loop.index % 2 == 0  %} paire {% else %} impaire {% endif %}">
                        <td>{{recruteur[1].Email}}</td>
                        <td>{{recruteur [0].nom}}</td>
                        <td>{{recruteur [0].etablissement}}</td>
                        <td>{{recruteur [0].ville}}</td>
                        <td><button class="btn btn-primary">Valider</button></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}