<div class="row">
    <div class="col-xxl-5"><span><strong>Etablissement/Recruteur:
            </strong></span>
        <h3>{{annonce.recruteur.etablissement}}/{{annonce.recruteur.nom}}</h3>
    </div>
    <div class="col-xxl-3"><span><strong>Profession:</strong></span>
        <h3>{{annonce.Profession.titre}}</h3>
    </div>
    <div class="col-xxl-3"><span><strong>Contrat: </strong></span>
        <strong>{{annonce.Contrat.titre}}</strong>
    </div>
</div>
<div class="row">
    <div class="col-xxl-5"><span><strong>Experience :</strong></span>{{annonce.Experience.titre}}</div>
    <div class="col-xxl-3"><span><strong>Salaire Annuelle/Horaire
                :</strong></span>{{annonce.salaireAnnuel}}€ annuelle //{{annonce.horaire}}</div>
    <div class="col-xxl-2"><span><strong>etat: </strong></span>{{annonce.etat.titre}}</div>
</div>
<div class="row">
    <div class="col-12"><span><strong>Description: </strong></span>{{annonce.description}}</div>
</div>