</br>
{% if userprofil != null %}
<div class="card fiche {{profil}} alert-dismissible mb-3">
    <div class="card-header bg-color">fiche<a class="btn btn-close  " href="{{path('app_consultant_candidat')}}"></a>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-12 col-lg-6">
                <p><strong>Email:</strong> {{userprofil.email}}</p>
                <p><strong>Nom:</strong> {{userprofil.trtProfilcandidat.nom}}</p>
                <p><strong>Prenom:</strong> {{userprofil.trtProfilcandidat.prenom}}</p>
            </div>
            <div class="col-12 col-lg-6">
                <p><strong>Profession:</strong> {{userprofil.trtProfilcandidat.profession.titre}}</p>
                <p><strong>Expérience:</strong> {{userprofil.trtProfilcandidat.experience.titre}}</p>
                <p><strong>Cv:</strong> {{userprofil.trtProfilcandidat.cv~'.pdf'}}</p>
            </div>
        </div>


    </div>
</div>
</br>
{% endif %}